<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bến xe miền đông</title>
    <th:block th:replace="layoutnhaxe :: link-css"></th:block>
</head>

<body id="page-top">
    <div  id="wrapper">
        <th:block th:replace="layoutnhaxe :: sidebar"></th:block>
        <div id="content-wrapper" class="d-flex flex-column">
            <th:block th:replace="layoutnhaxe :: navbar"></th:block>
            <!--==================================== Main Content===================================== -->
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        
            
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Số xe đang hoạt động
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <span th:text= "${soxe}"></span>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Earnings (Monthly) Card Example -->

            
                        <!-- Pending Requests Card Example -->
                        
                    </div>
                    
                        <!--/ Order Statistics -->
                        <!-- Total Revenue -->
                        <div class="col-6 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                            <div class="card">
                                <div class="row row-bordered g-0">
                                    <div class="col-md-16">
                                        <h5 class="card-header m-0 me-2 pb-3">Thống số lượng hành khách theo tháng</h5>
                                        <div id="totalRevenueChart" class="px-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
            <!-- ================================== End Main Content ==================================-->
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <th:block th:replace="layoutnhaxe :: link-javascript"></th:block>
</body>

</html>
