<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Bến xe Miền Đông</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <th:block th:replace="layoutxe :: link-css"></th:block>
</head>

<body>
    <div  id="wrapper">
        <th:block th:replace="layoutxe :: sidebar"></th:block>
        <div id="content-wrapper" class="d-flex flex-column">
            <th:block th:replace="layoutxe :: navbar"></th:block>
            <!--==================================== Main Content===================================== -->
            <div id="map" style="width: 100%; height: 400px;"></div>
            <script
                src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
           <link rel="stylesheet"
                href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css"
                type="text/css">
            <!-- ================================== End Main Content ==================================-->
            </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <th:block th:replace="layoutxe :: link-javascript"></th:block>
   <script src = "../js/maps.js"></script>
</body>
</html>