<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bến Xe Miền Đông</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
    <th:block th:replace="layout :: link-css"></th:block>
</head>

<body>
    <section class="map" style="background-image:url(/img/banner-bg.jpg) !important;">
        <th:block th:replace="layout :: header"></th:block>
        <main class="table">
            <div class="section-heading">
                <h2>Thanh toán</h2>
            </div>
            <form class="payment-form" th:action="@{/khachhang/datve/{id}(id=${chuyenXe.MaChuyenXe})}" method="post">
                <div class="col-md-6">
                    <div class="" id="input">
                        <label class="form-label" for="author">Họ tên khách hàng: </label>
                        <input disabled th:value="${khachHang.TenKH}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="title">Nhà xe: </label>
                        <input disabled th:value="${chuyenXe.xe.chuXe.TenChuXe}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Điểm đến: </label>
                        <input disabled th:value="${chuyenXe.tuyen.diemDen.DiaDiem}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Thời gian xuất bến: </label>
                        <input disabled th:value="${chuyenXe.tuyen.ThoiGianXuatBen}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Số tiền thanh toán: </label>
                        <input id="amount" disabled th:value="${chuyenXe.giaVe.Gia}" style="width:100%; padding: 10px">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Loại xe: </label>
                        <input disabled th:value="${chuyenXe.loaiXe.TenLoaiXe}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Giá vé: </label>
                        <input id="amount" disabled th:value="${chuyenXe.giaVe.Gia}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Biển số xe: </label>

                        <input disabled th:value="${chuyenXe.xe.BKS}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="author">Số điện thoại: </label>
                        <input disabled th:value="${chuyenXe.xe.SDT}" style="width:100%; padding: 10px">
                    </div>
                    <div class="col-6 mb-3" style="padding-bottom: 10px;">
                        <label class="form-label" for="author">Chọn ghế: </label>
                        <select style="width:100%; padding: 10px" th:id="myBtnshowmodal" th:attr="data-target=myModal">

                        </select>
                        <div id="myModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="close">&times;</span>
                                    <h2>Modal Header</h2>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <tr th:each="ghe : ${gheCuaChuyens}">
                                            <td class="ghe">
                                                <div th:switch="${ghe.TrangThai}">
                                                    <p th:case="${false}" th:text="${ghe.ghe.MoTa}"></p>
                                                    <p th:case="${true}" th:text="${ghe.ghe.MoTa}"></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <h3>Modal Footer</h3>
                                </div>
                            </div>
                            <!-- The Modal -->

                        </div>


                    </div>
                </div>

                <div style="margin:auto; padding:15px;">
                    <label class="form-label" for="author">Ghi chú: </label>
                    <input type="text" th:value="${phieuDatVe.GhiChu}" style="width:100%; padding: 10px" id="GhiChu"
                        name="GhiChu">
                </div>
                <input class="btn btn-success" type="submit" value="Đặt vé">
            </form>
        </main>
    </section>



    <section id="most-visited">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Các đối tác nhà xe</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="owl-mostvisited" class="owl-carousel owl-theme">
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac01.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Phương Trang</h4>
                                    <span>SĐT: 1900.60.67</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac02.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Hồng Linh</h4>
                                    <span>SĐT: 0358.989.857</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac03.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Kim Anh</h4>
                                    <span>SĐT: 0932.404.301</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac04.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Kim Lý</h4>
                                    <span>SĐT: 0981.375.385</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac05.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Hoàng Long</h4>
                                    <span>SĐT: 02253.920.920</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac06.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Tây Nguyên</h4>
                                    <span>SĐT: 0982.878.889</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac07.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Phượng Thu</h4>
                                    <span>SĐT: 0949.839.839</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="map">

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62693.68012682849!2d106.75180783253677!3d10.860579937660278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8ad820b6271%3A0x45060ac68fc6046!2zQuG6v24gWGUgTWnhu4FuIMSQw7RuZyBN4bubaQ!5e0!3m2!1svi!2s!4v1686013719636!5m2!1svi!2s"
                            width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <th:block th:replace="layout :: footer"></th:block>
    <th:block th:replace="layout :: link-javascript"></th:block>
    <script type="text/javascript">
        $(document).ready(function () {
            // navigation click actions 
            $('.scroll-link').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });

            // scroll to top action
            $('.scroll-top').on('click', function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            });

            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });
        });
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtnshowmodal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script src="/js/table.js"></script>
    <script src="/js/defineVND.js"></script>
</body>

</html>