<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bến Xe Miền Đông</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.0/mapbox-gl.js"></script>
    <th:block th:replace="layout :: link-css"></th:block>
    <link rel="stylesheet" href="../../css/blue.css">
</head>

<body>
    <section class="map" style="background-image:url(/img/banner-bg.jpg) !important;">
        <th:block th:replace="layout :: header"></th:block>
        <main class="table">
            <br>
            <form class="payment-form" th:action="@{/khachhang/datve/{id}(id=${chuyenXe.MaChuyenXe})}" method="post">
                <div class="col-md-8">
                    <div class="infoChuyenDi">
                        <h4 style="text-align:center; font-weight:bold"
                            th:text="'Nhà xe '+${chuyenXe.xe.chuXe.TenChuXe}"></h4>
                        <div style="margin: 5px; display:grid; grid-template-columns: 1fr 1fr; ">
                            <div style="border-right: 1px solid #eee;">
                                <div class="row" style="margin:10px">
                                    <h5 style="font-weight: bold; text-align:center">Thông tin nhà xe </h5>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Tên nhà xe: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.chuXe.TenChuXe}"></span>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Địa chỉ: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.chuXe.DiaChi}"></span>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Email: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.chuXe.Email}"></span>
                                </div>
                                <div class="row" style="margin:10px;">
                                    <span style="color: #637280;font-weight: bold;">Số điện thoại: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.chuXe.SDT}"></span>
                                </div>
                            </div>
                            <div>
                                <div class="row" style="margin:10px">
                                    <h5 style="font-weight: bold; text-align:center">Thông tin xe </h5>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Biển số xe: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.BKS}"></span>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Số điện thoại: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.SDT}"></span>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Tên tài xế: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.TenTaiXe}"></span>
                                </div>
                                <div class="row" style="margin:10px">
                                    <span style="color: #637280;font-weight: bold;">Năm sản xuất: </span>
                                    <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                        th:text="${chuyenXe.xe.NamSX}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="infoChuyenDi" style="margin-bottom: 20px; margin-top: 20px;">
                        <div class="row" style="margin:10px">
                            <h5 style="font-weight: bold; text-align:center">Hàng hóa ký gửi</h5>
                        </div>
                        <div style="margin: 5px; display:grid; grid-template-columns: 1fr 1fr;">
                            <div style="border-right: 1px solid #eee;">
                                <span style="display:block;">
                                    (*)Vui lòng điền thể tích hàng hóa trong các trường hợp sau:
                                </span>
                                <span style="display:block;margin-left: 20px;">
                                    • Khách hàng có đặt vé và trọng lượng hàng hóa ký gửi quá 0.125 m³ (Tương đương
                                    chiều cao ≈ 50cm, chiều dài ≈ 50cm, chiều rộng ≈ 50cm).
                                </span>
                                <span style="display:block;margin-left: 20px;">
                                    • Khách hàng chỉ muốn gửi hàng hóa.
                                </span>
                                <span style="display:block;">
                                    (*)Thể tích được chọn phải đúng với giá trị hàng hóa của khách hàng. Vui lòng liên
                                    hệ 0858547574 để biết thêm thông tin.
                                </span>

                            </div>
                            <div style="display:block;margin-left: 10px;">
                                <div class="row" style="margin: 10px;">
                                    <span style=" color: #637280;font-weight: bold;">Đơn giá vé hàng (/m³): </span>
                                    <span class="giaVeHHSpan" id="giaVeHHSpan" style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                                    right: 25px;" th:text="${chuyenXe.giaVe.GiaHangHoa} "></span>
                                </div>
                                <div class="row" style="margin: 10px;">
                                    <span style=" color: #637280;font-weight: bold;">Thể tích hàng còn trống: </span>
                                    <span class="HangHoaConTrong" name="HangHoaConTrong" style="position: absolute;
                                    right: 25px;color: rgb(0 0 0/var(--tw-text-opacity));"
                                        th:text="${chuyenXe.HangHoaConTrong}+ ' m³'"></span>
                                </div>
                                <div class="row" style="margin: 10px;">
                                    <span style=" color: #637280;font-weight: bold;">Thể tích hàng hóa của bạn: </span>
                                    <input class="HangHoa" id="HangHoa" name="HangHoa" type="number" min="0"
                                        th:max="${chuyenXe.HangHoaConTrong}" style="color: rgb(0 0 0/var(--tw-text-opacity)); position: absolute;
                                    right: 25px;" th:value="${phieuDatVe.HangHoa}"></input>
                                </div>
                                <div class="row" style="margin: 10px;">
                                    <span style=" color: #637280;font-weight: bold;">Tổng tiền: </span>
                                    <span class="totalHangHoa" style="color: rgb(0 0 0/var(--tw-text-opacity)); position: absolute;
                                    right: 25px;">0 đ</span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="infoChuyenDi">
                        <div
                            style="margin: 5px;">
                            <div class="row" style="margin:10px">
                                <h5 style="font-weight: bold; text-align:center">Chọn địa điểm giao hàng hoặc trung chuyển(*Nếu có)</h5>
                            </div>
                            <div class="row" style="margin:10px">
                                <span style=" color: #637280;font-weight: bold;">Tỉnh, Thành phố: </span>
                                <select class="form-select form-select-sm mb-3" id="city" name ="city" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn tỉnh thành</option>
                                </select>
                                <select class="form-select form-select-sm mb-3" id="district" name="district" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn quận huyện</option>
                                </select>
                                <select class="form-select form-select-sm mb-3" id="ward" name="ward" aria-label=".form-select-sm">
                                    <option value="" selected>Chọn phường xã</option>
                                </select>
                            </div>
                            <div class="row" style="margin:10px">
                                <span style=" color: #637280;font-weight: bold;">Số nhà, tên đường: </span>
                                    <input type="text" 
                                        style="color: rgb(0 0 0/var(--tw-text-opacity)); padding-right: 40%;" th:value="${sonha}" id ="sonha" name="sonha"></input>
                            </div>
                        </div>  
                    </div>
                    <br>
                    <div class="infoChuyenDi">
                        <div
                            style="margin: 5px; display:grid; grid-template-columns: 1fr 1fr; border-bottom: 5px solid #eee;">
                        </div>
                        <div style="margin: 20px; display:flex;">
                            <div style="flex-direction: column; display: flex;">
                                <span style=" font-weight: bold;">Tổng tiền thanh toán: </span>
                                <span class="totalprice">0 đ</span>
                                <!-- <p>Vui lòng chọn hình thức thanh toán:</p>
                                <div class="mb-1">
                                    <label><input type="radio" name="iCheck" class="iradio_flat-blue"> Ví <img
                                            src="../../img/logo-zalopay.svg" alt=""></label>
                                </div>
                                <div class="mb-1">
                                    <label><input type="radio" name="iCheck" class="iradio_flat-blue"> Visa, Mastercard,
                                        JCB <span class="txtGray">(qua cổng ZaloPay)</span></label>
                                </div>
                                <div class="mb-1">
                                    <label><input type="radio" name="iCheck" class="iradio_flat-blue" checked> Thẻ ATM
                                        <span class="txtGray">(qua cổng ZaloPay)</span></label>
                                </div> -->
                            </div>
                            <div
                                style="justify-content: flex-end !important; display:flex ;align-items: center;flex: 1 1">
                                <button style="background: #fff;
                                    border: 1px solid #c0c6cc;height: 32px;
                                    padding: 4px 40px; margin-right:20px;
                                    font-size: 14px;
                                    border-radius: 32px;" href="/timve"> Hủy
                                </button>
                                <button style="background: #f2754e;
                                    color: #fff;height: 32px;
                                    padding: 4px 16px;
                                    font-size: 14px;
                                    border-radius: 32px;" type="submit">Đặt vé
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-4">
                    <div class="choose_seats" style="margin-bottom: 30px;">
                        <div>
                            <!-- Modal content -->
                            <div class="modal-content" style="	width: 350px;">
                                <h5 style="text-align: center;font-weight:bold;">Chọn ghế</h5>
                                <div style="text-align:center; display:grid; grid-template-columns: 1fr 1fr">
                                    <h6>Tầng dưới</h6>
                                    <h6>Tầng trên</h6>
                                </div>
                                <div class="modal-body">
                                    <div class="table_seats" style="margin-right: 20px;">
                                        <div style="width: 32px; height: 32px;"
                                            th:each="ghe : ${chuyenXe.gheCuaChuyens}" th:if="!${ghe.ghe.Tang}">
                                            <div class="seat-wrapper" data-seat-id="${ghe.ghe.Ghe}">
                                                <div class="seat" th:switch="${ghe.TrangThai}">
                                                    <div class="seat_disabled" th:case="${true}">
                                                        <img class="img_seat" src="../../img/seat_disabled.svg"
                                                            alt="seat icon">
                                                        <span class="text_seat" th:text="${ghe.ghe.MoTa}"></span>
                                                    </div>
                                                    <div class="seat_active" th:case="${false}">
                                                        <input type="checkbox" class="img_seat" th:id="${ghe.ghe.MoTa}">
                                                        <label class="text_seat" th:for="${ghe.ghe.MoTa}"
                                                            th:text="${ghe.ghe.MoTa}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="table_seats" style="margin-left: 20px;">

                                        <div style="width: 32px; height: 32px;"
                                            th:each="ghe : ${chuyenXe.gheCuaChuyens}" th:if="${ghe.ghe.Tang}">
                                            <div class="seat-wrapper" data-seat-id="${ghe.ghe.Id}">
                                                <div class="seat" th:switch="${ghe.TrangThai}">
                                                    <div class="seat_disabled" th:case="${true}">
                                                        <img class="img_seat" src="../../img/seat_disabled.svg"
                                                            alt="seat icon">
                                                        <span class="text_seat" th:text="${ghe.ghe.MoTa}"></span>
                                                    </div>
                                                    <div class="seat_active" th:case="${false}">
                                                        <input type="checkbox" class="img_seat" th:id="${ghe.ghe.MoTa}">
                                                        <label class="text_seat" th:for="${ghe.ghe.MoTa}"
                                                            th:text="${ghe.ghe.MoTa}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="margin-top: 10px;display:grid; grid-template-columns: 1fr 1fr 1fr;margin-left: 20px; margin-bottom: 20px;">
                                    <span>
                                        <img style="width: 25px;" src="../../img/seat_active.svg">
                                        Còn trống
                                    </span>
                                    <span>
                                        <img style="width: 25px;" src="../../img/seat_disabled.svg">
                                        Đã đặt
                                    </span>
                                    <span>
                                        <img style="width: 25px;" src="../../img/seat_selecting.svg">
                                        Đang chọn
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="infoChuyenDi">
                        <h4 style="text-align:center"><b>Thông tin lượt đi</b></h4>
                        <div class="row" style="margin: 5px;">
                            <span style="color: #637280;font-weight: bold;">Điểm đi: </span>
                            <span style="color: rgb(0 0 0/var(--tw-text-opacity)); position: absolute;
                            right: 25px;" th:text="${chuyenXe.tuyen.diemDi.DiaDiem}"></span>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style="color: #637280;font-weight: bold;">Điểm đến: </span>
                            <span style="color: rgb(0 0 0/var(--tw-text-opacity)); position: absolute;
                            right: 25px;" th:text="${chuyenXe.tuyen.diemDen.DiaDiem}"></span>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style=" color: #637280;font-weight: bold;">Giờ xuất bến: </span>
                            <span style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                            right: 25px;" th:text="${chuyenXe.tuyen.ThoiGianXuatBen}"></span>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style=" color: #637280;font-weight: bold;">Ngày chạy: </span>
                            <span style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                            right: 25px;" th:text="${chuyenXe.NgayChay}"></span>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style=" color: #637280;font-weight: bold;">Đơn giá vé(/Người): </span>
                            <span id="giaVeSpan" style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                            right: 25px;" th:text="${chuyenXe.giaVe.GiaHanhKhach}"></span>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style=" color: #637280;font-weight: bold;">Số lượng ghế: </span>
                            <span id="soLuongGheSpan" style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                            right: 25px;">0</span>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style=" color: #637280;font-weight: bold;">Số ghế: </span>
                            <textarea th:id="soGheSpan" th:name="soGheSpan" th:value="${soGheSpan}" style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                            right: 25px;"></textarea>
                        </div>
                        <div class="row" style="margin: 5px;">
                            <span style=" color: #637280;font-weight: bold;">Tổng tiền: </span>
                            <span class="tongTienSpan" style="color: rgb(0 0 0/var(--tw-text-opacity));position: absolute;
                            right: 25px;">0 đ</span>
                        </div>
                    </div>
                    <br>
                    <div class="infoChuyenDi">
                        <div style="border-bottom: 1px solid #eee;">
                            <div class="row" style="margin:10px">
                                <h5 style="font-weight: bold; text-align:center">Thông tin khách hàng </h5>
                            </div>
                            <div class="row" style="margin:10px">
                                <span style="color: #637280;font-weight: bold;">Tên khách hàng: </span>
                                <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                    th:text="${khachHang.TenKH}"></span>
                            </div>
                            <div class="row" style="margin:10px">
                                <span style="color: #637280;font-weight: bold;">Email: </span>
                                <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                    th:text="${khachHang.Email}"></span>
                            </div>
                            <div class="row" style="margin:10px">
                                <span style="color: #637280;font-weight: bold;">Số điện thoại: </span>
                                <span style="color: rgb(0 0 0/var(--tw-text-opacity)); margin-left: 20px"
                                    th:text="${khachHang.SDT}"></span>
                            </div>
                        </div>
                        <div>
                            <div class="row" style="margin:10px">
                                <h5 style="font-weight: bold; text-align:center; color:#ef5122">Điều khoản & lưu ý
                                </h5>
                            </div>
                            <div style="margin:10px">
                                <span>
                                    (*) Quý khách vui lòng có mặt tại bến xuất phát của xe trước ít nhất 30 phút giờ
                                    xe khởi hành, mang theo thông báo đã thanh toán vé thành công có chứa mã vé được
                                    gửi từ hệ thống Bến Xe Miền Đông. Vui lòng liên hệ Trung tâm tổng đài 0858 547
                                    574 để được hỗ trợ.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </section>



    <section id="most-visited">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Các đối tác nhà xe</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="owl-mostvisited" class="owl-carousel owl-theme">
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac01.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Phương Trang</h4>
                                    <span>SĐT: 1900.60.67</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac02.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Hồng Linh</h4>
                                    <span>SĐT: 0358.989.857</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac03.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Kim Anh</h4>
                                    <span>SĐT: 0932.404.301</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac04.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Kim Lý</h4>
                                    <span>SĐT: 0981.375.385</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac05.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Hoàng Long</h4>
                                    <span>SĐT: 02253.920.920</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac06.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Tây Nguyên</h4>
                                    <span>SĐT: 0982.878.889</span>
                                </div>
                            </div>
                        </div>
                        <div class="item col-md-12">
                            <div class="visited-item">
                                <img src="/img/doitac07.jpg" alt="" class="img-fluid">
                                <div class="text-content">
                                    <h4>Phượng Thu</h4>
                                    <span>SĐT: 0949.839.839</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="map">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="map">

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62693.68012682849!2d106.75180783253677!3d10.860579937660278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8ad820b6271%3A0x45060ac68fc6046!2zQuG6v24gWGUgTWnhu4FuIMSQw7RuZyBN4bubaQ!5e0!3m2!1svi!2s!4v1686013719636!5m2!1svi!2s"
                            width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <th:block th:replace="layout :: footer"></th:block>
    <th:block th:replace="layout :: link-javascript"></th:block>
    <script type="text/javascript">
        $(document).ready(function () {
            // navigation click actions 
            $('.scroll-link').on('click', function (event) {
                event.preventDefault();
                var sectionID = $(this).attr("data-id");
                scrollToID('#' + sectionID, 750);
            });
            // scroll to top action
            $('.scroll-top').on('click', function (event) {
                event.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            });

            // mobile nav toggle
            $('#nav-toggle').on('click', function (event) {
                event.preventDefault();
                $('#main-nav').toggleClass("open");
            });

            function updateTotalPrice() {
                // Get the seat price from the span
                var seatPriceText = $('#giaVeSpan').text();

                // Extract numerical value from the formatted currency string
                var seatPrice = parseFloat(seatPriceText.replace(/[^\d]/g, ''));

                // Count checked checkboxes
                var checkedCount = $('input[type="checkbox"]:checked').length;

                // Update the content of the span with the seat count
                $('#soLuongGheSpan').text(checkedCount);

                // Calculate total price by multiplying seat count with the seat price
                var totalPrice = checkedCount * seatPrice;

                // Update the content of the span with the total price
                $('.tongTienSpan').text(totalPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }));
                updateTotal();
            }

            $('input[type="checkbox"]').on('click', function () {
                var seatId = this.getAttribute('id');

                // Check if the checkbox is checked or unchecked
                if ($(this).is(':checked')) {
                    // Checkbox is checked, add the seatId to the span
                    var currentIdSeat = $('#soGheSpan').text();
                    $('#soGheSpan').text(currentIdSeat ? currentIdSeat + ', ' + seatId : seatId);
                } else {
                    // Checkbox is unchecked, remove the seatId from the span
                    var currentIdSeat = $('#soGheSpan').text().split(', ');
                    currentIdSeat = currentIdSeat.filter(function (id) {
                        return id !== seatId;
                    });
                    $('#soGheSpan').text(currentIdSeat.join(', '));
                }

                // Update the total price
                updateTotalPrice();
            });

            function updateTotalHH() {
                var hangHoaValue = $('.HangHoa').val(); // Use .val() to get the value of an input field
                var hanghoa = parseFloat(hangHoaValue);

                var giaVeHHSpanValue = parseFloat($('.giaVeHHSpan').text().replace(/[^\d]/g, ''));

                var totalHangHoa = hanghoa * giaVeHHSpanValue;

                $('.totalHangHoa').text(totalHangHoa.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }));
                updateTotal();
            }
            $('.HangHoa').on('input', updateTotalHH);

            function updateTotal() {
                var hang = parseFloat($('.totalHangHoa').text().replace(/[^\d]/g, ''));
                var khach = parseFloat($('.tongTienSpan').text().replace(/[^\d]/g, ''));
                var total = hang + khach;
                $('.totalprice').text(total.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }));
            }
            // Call updateTotal initially
            updateTotal();
        });
    </script>
    <script>
        // Lấy phần tử HTML chứa số tiền
        var amountElement = document.getElementById("giaVeSpan");

        // Lấy giá trị số tiền
        var amount = parseFloat(amountElement.textContent);

        // Định dạng số tiền theo định dạng VNĐ
        var formattedAmount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);

        // Hiển thị số tiền đã được định dạng
        amountElement.textContent = formattedAmount;

        var amountElement = document.getElementById("giaVeHHSpan");

        // Lấy giá trị số tiền
        var amount = parseFloat(amountElement.textContent);

        // Định dạng số tiền theo định dạng VNĐ
        var formattedAmount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);

        // Hiển thị số tiền đã được định dạng
        amountElement.textContent = formattedAmount;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var cities = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var data; // Store the entire data object
    
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
    
        var promise = axios(Parameter);
        promise.then(function (result) {
            data = result.data; // Store the entire data object
            renderCity(data);
        });
    
        function renderCity(data) {
            for (const city of data) {
                cities.options[cities.options.length] = new Option(city.Name, city.Id);
            }
    
            cities.onchange = function () {
                districts.length = 1;
                wards.length = 1;
                if (this.value != "") {
                    const selectedCityId = this.value;
                    const selectedCity = data.find(city => city.Id === selectedCityId);
    
                    for (const district of selectedCity.Districts) {
                        districts.options[districts.options.length] = new Option(district.Name, district.Id);
                    }
                }
            };
    
            districts.onchange = function () {
                wards.length = 1;
                if (this.value != "") {
                    const selectedDistrictId = this.value;
                    const selectedDistrict = data.flatMap(city => city.Districts).find(district => district.Id === selectedDistrictId);
    
                    for (const ward of selectedDistrict.Wards) {
                        wards.options[wards.options.length] = new Option(ward.Name, ward.Id);
                    }
                }
            };
        }
    </script>
</body>

</html>